<html>
    <head>
    </head>
    <body>
        <p>Hello Myplaneteers! Welcome to TimmiesRun</p>
        <p>Please reply to <b>this email address ONLY. <font color = #FF0000 size = "3">DO NOT CLICK REPLY ALL!</font></p>
        <p><b><font color = #FF0000 size = "3">Click EDIT SUBJECT</font></b> and <b> write your response THERE!</b></p>
        <p>Important! Please <b><font color = #FF0000 size = "3">DELETE this email</font></b> after you reply.
        <br>
        <br>
        <p>Today {{runPerson}} is going to Timmies at {{runTime}}
        <p><b><font color = #007FFF>What would you like to get from Timmies?</font></b></p>
        <p>If you do not want anything, please ignore and delete this email.
        <br>
        <p>Thank you, have a great day! :)</p>
    </body>
</html>